<span class="float-left">Select date</span>
<span class="float-right">
  <a [ngbPopover]="popContent"
     [popoverTitle]="popTitle"
     [autoClose]="'outside'"
     placement="bottom"
     class="some-a">{{currentDate}}</a></span>

<input type="range"
       class="time-slider"
       [(ngModel)]="currentStep"
       (ngModelChange)="stepChanged(true)"
       [min]="min"
       [max]="max">


<ng-template #popContent>
  <ngb-datepicker [minDate]="firstDate"
                  [maxDate]="lastDate"
                  [markDisabled]="markDisabled"
                  [(ngModel)]="ngbDate"
                  (ngModelChange)="ngbDateChanged($event)"
                  >
  </ngb-datepicker>

</ng-template>
<ng-template #popTitle>Select date</ng-template>
